<div class="site-body">
  <section class="site-section banner">
    <div class="info-container">
      <p>
        Welcome back!
        <br />
        We're glad to have you here. Let's keep our community respectful and
        supportive. Thank you for being part of our journey!
      </p>
      <img
        class="image"
        src="https://firebasestorage.googleapis.com/v0/b/it-takes-a-village-cddb8.appspot.com/o/catalog-house.png?alt=media&token=9ebbb7f0-98fa-42e0-9d33-498f096c7f7e"
        alt="catalog-house"
      />
    </div>
  </section>
  <section class="form-section">
    <form (ngSubmit)="login()">
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="email"
        required
      />
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="password"
        required
      />
      <button type="submit">Login</button>
    </form>
  </section>
</div>
