@import url(https://fonts.googleapis.com/css2?family=Karla&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 18px "Karla";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cormorant Infant";
}
body {
    background-image: url("images/paul-rabaud-asset.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    backdrop-filter: blur(10px);
    background-position: top center;
    padding-bottom: 14.2em;
}
.site-header {
    display: flex;
    justify-content: space-between;
}
.site-header nav ul {
    padding-top: 2em;
    padding-right: 3em;
    display: flex;
}

.site-header nav li {
    list-style: none outside;
    padding: 0 1em;
    color: #D9D9D9;
}

.site-header nav a {
    text-decoration: none;
    color: #D9D9D9;
}
.container {
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border: 2px;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
    height: auto;
}


.site-section.banner {
    max-height: 15em;
    background-color: #00000059;
    border-radius: 5em;
    padding: 1em;
    margin: 5em 5em;
    display: flex;
}

.site-section.banner h2 {
    text-align: center;
    font-size: 4em;
    font-weight: 100;
    line-height: 0.9em;
    color: #fff;
}

.site-section.banner p {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.1em;
    color: #fff;
    margin: 1em 0;
    
}

.button {   
    display: block;
    border-radius: 10px;
    text-decoration: none;
    max-width: 10rem;
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: #000000;
    background-color: #D9D9D9;
}

.button:hover {
    color: #D9D9D9;
    background-color: #000000;
}
