@import url(https://fonts.googleapis.com/css2?family=Karla&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 18px "Karla";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cormorant Infant";
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }