<header class="site-header">
  <div class="header">
    <p *ngIf="userEmail">Welcome back {{ userEmail }}</p>
    <p *ngIf="!userEmail">Hi guest</p>
    <a *ngIf="userEmail" routerLink="/logout">Logout</a>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/catalog">Catalog</a></li>
      <li><a *ngIf="userEmail" routerLink="/addnew">Add new</a></li>
      <li><a *ngIf="userEmail" routerLink="/favourites">Favourites</a></li>
      <li><a *ngIf="!userEmail" routerLink="/signup">Sign Up</a></li>
      <li><a *ngIf="!userEmail" routerLink="/login">Login</a></li>
    </ul>
  </nav>
</header>
