<header class="site-header">



<div class="header">
    <p *ngIf="userEmail">Welcome back {{ userEmail }}</p>
    <p *ngIf="!userEmail">Hi guest</p>
    <a *ngIf="userEmail" (click)="logout()">Logout</a>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/catalog">Catalog</a></li>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="#">Favourites</a></li>
      <li><a href="#">404</a></li>
    </ul>
  </nav>
</header>