<header class="site-header">
<div class="header">
    <p *ngIf="userEmail">Welcome back {{ userEmail }}</p>
    <p *ngIf="!userEmail">Hi guest</p>
    <a *ngIf="userEmail" routerLink="/logout">Logout</a>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/catalog">Catalog</a></li>
      <li><a routerLink="/addnew">Add new</a></li>
      <li><a routerLink="/signup">Sign Up</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="#">Favourites</a></li>
      <li><a routerLink="/404">404</a></li>
    </ul>
  </nav>
</header>

<!-- (click)="logout()" -->