<div class="main">

    <section class="site-section banner">
        
        <div class="welcome-banner container">
            
            <img class="image" src="https://firebasestorage.googleapis.com/v0/b/it-takes-a-village-cddb8.appspot.com/o/catalog-house.png?alt=media&token=9ebbb7f0-98fa-42e0-9d33-498f096c7f7e" alt="catalog-house">
            <h2>Explore our catalog</h2>
        </div>
        
    </section>
    
    <section class="content-section">
        
        <div *ngFor="let post of posts" class="catalog-container">
            
            <div class="content container">
                <div class="content-img">
                    <img src="{{ post.img }}" alt="house">
                </div>
                <div class="content-text">
                    <p>{{ post.title }}</p>
                    <a href="#">Read more</a>
                </div>
            </div>
            
        </div>
        
    </section>
</div>